<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>

    <div class="landingwrapper">
      <div class="landingwrapper__top">

        <%= _.template(require('../includes/header_landing.html').default)(data) %>

          <div class="landingcontent">
            <div class="container">
              <div class="langindtitle">
                Best Tools For Your <br>Crypto Research
              </div><!-- /.langindtitle -->

              <div class="landingbanner">
                <img src="img/landingbanner.png" alt="">
              </div><!-- /.landingbanner -->

            </div><!-- /.container -->
          </div><!-- /.landingcontent -->

      </div><!-- /.landingwrapper__top -->

      <div class="landingwrapper__main">
        <div class="container">


          <div class="landingcards">
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title desktop">Twitter KOL Tracker</div>
                      <div class="landingcard__text">The tool tracks followings of thousands of Twitter influencers, and
                        spots trending projects before the 99% other traders</div>
                      <div class="landingcard__small">If you are a crypto degen, this is a must have tool for your
                        trading.</div><!-- /.landingcard__small -->
                    </div>

                    <div class="landingcard__footer">
                      <div class="landingcard__footertext">Video on how it works</div>
                      <div class="landingcard__footericon">
                        <img src="img/landingcard__footericon.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="landingcard__colimage">
                    <div class="landingcard__title mobile">Twitter KOL Tracker</div>

                    <div class="landingcard__img">
                      <img src="img/landingcard__img.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">

                  <div class="landingcard__colimage">
                    <div class="landingcard__title mobile">Pro Alpha Channel</div>

                    <div class="landingcard__img">
                      <img src="img/landingcard__img2.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title desktop">Pro Alpha Channel</div>
                      <div class="landingcard__text landingcard__text_2">Our analysts screen alpha daily using our
                        tools, and a from many sources like Twitter, Telegram, Discord, paid subscription, and more
                      </div>
                      <div class="landingcard__small">We share half of the alpha for free, and the rest goes to our
                        Pro Alpha Channel.</div><!-- /.landingcard__small -->
                    </div>


                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title desktop">Twitter Trending Tickers</div>
                      <div class="landingcard__text landingcard__text_3">This tools Scans Tweets of Multiple Crypto
                        researchers, and aggregates information based on tickers they mentiond. It will help you find
                        good research threads, and understand the tokens that are trending. 

                      </div>
                      <div class="landingcard__small"> It works good if you are not degening, but trying to find more
                        quality projects
                      </div><!-- /.landingcard__small -->
                    </div>

                    <div class="landingcard__footer">
                      <div class="landingcard__footertext">Video on how it works</div>
                      <div class="landingcard__footericon">
                        <img src="img/landingcard__footericon.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="landingcard__colimage">
                    <div class="landingcard__title mobile">Twitter Trending Tickers</div>

                    <div class="landingcard__img">
                      <img src="img/landingcard__img.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
          </div><!-- /.landingcards -->
        </div><!-- /.container -->

        <div class="landingslider landingsliderbg">
          <div class="landingslider__title">
            With our Tools you would spot <br> these projects yearly
          </div><!-- /.landingslider__title -->
          <div class="landingslider__container">
            <div class="landingslider__slider">
              <div class="landingslider__slide">
                <div class="landingslide">
                  <div class="landingslide__content">
                    <div class="landingslide__badge">
                      <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                      <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                    </div><!-- /.landingslide__badge -->
                    <div class="landingslide__img">
                      <img src="img/landslide.png" alt="">
                    </div><!-- /.landingslide__img -->
                  </div><!-- /.landingslide__content -->
                </div><!-- /.landingslide -->
              </div><!-- /.landingslider__slide -->
              <div class="landingslider__slide">
                <div class="landingslide">
                  <div class="landingslide__content">
                    <div class="landingslide__badge">
                      <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                      <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                    </div><!-- /.landingslide__badge -->
                    <div class="landingslide__img">
                      <img src="img/landslide.png" alt="">
                    </div><!-- /.landingslide__img -->
                  </div><!-- /.landingslide__content -->
                </div><!-- /.landingslide -->
              </div><!-- /.landingslider__slide -->
              <div class="landingslider__slide">
                <div class="landingslide">
                  <div class="landingslide__content">
                    <div class="landingslide__badge">
                      <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                      <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                    </div><!-- /.landingslide__badge -->
                    <div class="landingslide__img">
                      <img src="img/landslide.png" alt="">
                    </div><!-- /.landingslide__img -->
                  </div><!-- /.landingslide__content -->
                </div><!-- /.landingslide -->
              </div><!-- /.landingslider__slide -->
            </div><!-- /.landingslider__slider -->
          </div><!-- /.landingslider__container -->
          <div class="landingslider__link">
            <a href="#" target='_blank'>
              <img src="img/landingtg.svg" alt="">
              <span>You can find more wins in our Wins Telegram Channel</span>
            </a>
          </div><!-- /.landingslider__link -->
        </div><!-- /.landingslider -->
        <div class="landingcost">
          <div class="container">
            <div class="landingcost__title">How much does it cost?</div><!-- /.landingcost__title -->
            <div class="landingcost__items">
              <div class="landingcost__item">
                <div class="cost cost_caption">
                  <div class="cost__wrapper">
                    <div class="cost__content">
                      <div class="cost__main">
                        <div class="cost__title ">
                          Trial
                        </div>
                        <div class="cost__list cost__list_row">
                          <ul>
                            <li>Twitter KOL Tracker</li>
                            <li>Pro Alpha Channel</li>
                            <li>Twitter Trending Tickers</li>
                            
                          </ul>
                        </div>
                      </div>
                      <div class="cost__footer">
                        <div class="cost__price">
                          <div class="cost__pricevalue">$10.00</div>
                          <div class="cost__priceinfo">per 4 days</div>
                        </div>
                        <div class="cost__button">
                          <a href="#">
                            <img src="img/landing_cart.svg" alt="">
                            <span>Register to Purchase</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div><!-- /.landingcost__item -->
              <div class="landingcost__item landingcost__item_center">
                <div class="cost cost_caption">
                  <div class="cost__wrapper">
                    <div class="cost__content">
                      <div class="cost__main">
                        <div class="cost__title ">
                          User
                        </div>
                        <div class="cost__list cost__list_row">
                          <ul>
                            <li>Twitter KOL Tracker</li>
                            <li>Pro Alpha Channel</li>
                            <li>Twitter Trending Tickers</li>
                            
                          </ul>
                        </div>
                      </div>
                      <div class="cost__footer">
                        <div class="cost__price">
                          <div class="cost__pricevalue">$49.00</div>
                          <div class="cost__priceinfo">per 30 days</div>
                        </div>
                        <div class="cost__button ">
                          <a href="#">
                            <img src="img/landing_cart.svg" alt="">
                            <span>Register to Purchase</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div><!-- /.landingcost__item -->
              <div class="landingcost__item">
                <div class="cost cost_caption">
                  <div class="cost__wrapper">
                    <div class="cost__content">
                      <div class="cost__main">
                        <div class="cost__title ">
                          Degen
                        </div>
                        <div class="cost__list cost__list_row">
                          <ul>
                            <li>Twitter KOL Tracker</li>
                            <li>Pro Alpha Channel</li>
                            <li>Twitter Trending Tickers</li>
                            
                          </ul>
                        </div>
                      </div>
                      <div class="cost__footer">
                        <div class="cost__price">
                          <div class="cost__pricevalue">$129.00</div>
                          <div class="cost__priceinfo">per 90 days</div>
                        </div>
                        <div class="cost__button">
                          <a href="#">
                            <img src="img/landing_cart.svg" alt="">
                            <span>Register to Purchase</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div><!-- /.landingcost__item -->
            </div><!-- /.landingcost__items -->
          </div><!-- /.container -->
        </div><!-- /.landingcost -->
        <div class="landingcontent">
          <div class="container">

          <div class="landcontent__item ">
            <div class="landcontent__title textwhite">Can’t afford subscription?</div><!-- /.landcontent__title textwhite -->
            <div class="landcontent__text textwhite">We share a lot of valuable Alpha in our Social Channel absolutely for <a href="#">free</a> 
            </div><!-- /.landcontent__text textwhite -->
            <div class="landcontent__icons">
              <a href="#">
                <svg width="48" height="44" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_3194_997)">
                    <path d="M37.7602 0H45.1202L28.9602 18.6716L47.8402 44H33.0242L21.4242 28.6081L8.14422 44H0.784219L17.9042 24.0295L-0.175781 0H15.0082L25.4882 14.0605L37.7602 0ZM35.1842 39.6162H39.2642L12.8642 4.2214H8.48022L35.1842 39.6162Z" fill="white"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_3194_997">
                      <rect width="48" height="44" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
              <a href="#">
                <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.0447 28.5361C22.231 21.8552 41.8834 13.7099 44.5961 12.5825C51.712 9.63173 53.8954 10.1972 52.8067 16.7319C52.0249 21.4287 49.769 36.9787 47.971 46.6575C46.904 52.3971 44.5103 53.0773 40.7463 50.5942C38.9362 49.3992 29.8 43.3575 27.8172 41.9389C26.0071 40.646 23.5107 39.0909 26.6414 36.0278C27.7555 34.9366 35.0587 27.9634 40.7487 22.5355C41.4943 21.8226 40.5578 20.6517 39.6975 21.2233C32.0282 26.3091 21.3949 33.3682 20.0415 34.2878C17.997 35.6761 16.0335 36.3129 12.5088 35.3004C9.84562 34.5355 7.24407 33.6232 6.23149 33.2752C2.3322 31.9364 3.25778 30.2024 7.0447 28.5361Z" fill="white"></path>
                </svg>
              </a>
            </div><!-- /.landcontent__icons -->
          </div>
        </div><!-- /.container -->

        </div><!-- /.landcontent -->
      </div><!-- /.landingwrapper__main -->

      <%= _.template(require('../includes/footer_landing.html').default)(data) %>
    </div><!-- /.landingwrapper -->

    <script>
      $('.landingslider__slider').slick({
        centerMode: true,
        centerPadding: '16px',
        variableWidth: true,
        arrows: false,
        dots: false,
        infinite: true
      })
    </script>